.select-input {
    width: 100%;
    margin: auto;
    font-weight: 800;
    white-space: nowrap;
    display: inline-block;
}

.select-input select {
    height: 40px;
    font-size: 15px;
    display: inline-block;
    border: 2px solid #AAB8C8;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    letter-spacing: 1px;
    max-width: 150px;
    width: 60%;
}

.select-input :focus {
    outline: none;
    border: 2px solid #00b2ff;
}
